<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="static\style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>

    <div class="social-bar lightblue pr-5">
        <i class="fab fa-facebook mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-instagram mr-3"></i>
        <i class="fab fa-linkedin mr-3"></i>
        <i class="fab fa-youtube mr-3"></i>
        <i class="fab fa-google-plus mr-3"></i>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 text-right pt-4">
                <h1>Mero Blog</h1>
                <p>Welcome to our blog</p>
            </div>
            <div class="col-1"></div>
            <div class="col-8">
                <img src="image/banner.jpg" alt="" class="img-fluid pl-2 py-2">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <a href="#" class="navbar-brand"><i class="fas fa-home"></i></a>
        <div class="collapse navbar-collapse id="navbarNavAltMarkup">
            <div class="navbar-nav">
                 <a href="#" class="navbar-item nav-link active text-white">Program</a>
                 <a href="#" class="navbar-item nav-link active text-white">About us</a>
                 <a href="#" class="navbar-item nav-link active text-white">Services</a>
                 <a href="#" class="navbar-item nav-link active text-white">Contact us</a>
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row py-3">
            <!-- Start left slide -->
            <div class="col-3 border-2">
                <div class="text-center w-100 p-4 mt-2">
                    <h4 class="p-2 border-2">Our Sponsar</h4>
                    <img src="image/harrys_vertical_small.jpg" class="img-fluid mt-3">
                    <img src="image/1-2-vertical.jpg" class="img-fluid mt-3">
                    <img src="image/1-2-vertical.jpg" class="img-fluid mt-4">
                    <img src="image/Verticle_ads-482.jpg" class="img-fluid mt-5">
                    <img src="image/Verticle_ads-482.jpg" class="img-fluid mt-5">
                </div>
            </div>
        

            <!-- End Left Slide -->

            <!-- Start Main Content -->
            <div class="col-6">
                <div class="border-2 bcolor p-2 px-4">
                    <h4>This our title</h4>
                    <p>Author:Manish Kunwar</p>
                    <img src="image/Blog-image-1.jpeg" class="img-fluid" alt="">
                    <p class="p-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates 
                        numquam eligendi tenetur quas non saepe aut temporibus odio fu aliquam. 
                        In nobis laudantium mollitia eos magni doloribus itaque quisquam ullam?
                    </p>
                    <p>
                        <button class="btn btn-success">Read more</button>
                        <h6>Share:
                            <i class="fab fa-facebook mr-3"></i>
                            <i class="fab fa-twitter mr-3"></i>
                            <i class="fab fa-instagram mr-3"></i>
                            <i class="fab fa-linkedin mr-3"></i>
                            <i class="fab fa-youtube mr-3"></i>
                            <i class="fab fa-google-plus mr-3"></i>
                        </h6>
                    </p>
                </div>
                <div class="border-2 bcolor p-2 px-4 mt-3">
                    <h4>This our title</h4>
                    <p>Author:Manish Kunwar</p>
                    <img src="image/Blog-image-2.jpeg" class="img-fluid" alt="">
                    <p class="p-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates 
                        numquam eligendi tenetur quas non saepe aut temporibus odio fu aliquam. 
                        In nobis laudantium mollitia eos magni doloribus itaque quisquam ullam?
                    </p>
                    <p>
                        <button class="btn btn-success">Read more</button>
                        <h6>Share:
                            <i class="fab fa-facebook mr-3"></i>
                            <i class="fab fa-twitter mr-3"></i>
                            <i class="fab fa-instagram mr-3"></i>
                            <i class="fab fa-linkedin mr-3"></i>
                            <i class="fab fa-youtube mr-3"></i>
                            <i class="fab fa-google-plus mr-3"></i>
                        </h6>
                    </p>
                </div>
                <div class="border-2 bcolor p-2 px-4 mt-3">
                    <h4>This our title</h4>
                    <p>Author:Manish Kunwar</p>
                    <img src="image/Blog-image-3.jpeg" class="img-fluid" alt="">
                    <p class="p-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates 
                        numquam eligendi tenetur quas non saepe aut temporibus odio fu aliquam. 
                        In nobis laudantium mollitia eos magni doloribus itaque quisquam ullam?
                    </p>
                    <p>
                        <button class="btn btn-sucess">Read more</button>
                        <h6>Share:
                            <i class="fab fa-facebook mr-3"></i>
                            <i class="fab fa-twitter mr-3"></i>
                            <i class="fab fa-instagram mr-3"></i>
                            <i class="fab fa-linkedin mr-3"></i>
                            <i class="fab fa-youtube mr-3"></i>
                            <i class="fab fa-google-plus mr-3"></i>
                        </h6>
                    </p>
                </div>
                <div class="border-2 bcolor p-2 px-4 mt-3">
                    <h4>This our title</h4>
                    <p>Author:Manish Kunwar</p>
                    <img src="image/Blog-image-4.jpeg" class="img-fluid" alt="">
                    <p class="p-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates 
                        numquam eligendi tenetur quas non saepe aut temporibus odio fu aliquam. 
                        In nobis laudantium mollitia eos magni doloribus itaque quisquam ullam?
                    </p>
                    <p>
                        <button class="btn btn-sucess">Read more</button>
                        <h6>Share:
                            <i class="fab fa-facebook mr-3"></i>
                            <i class="fab fa-twitter mr-3"></i>
                            <i class="fab fa-instagram mr-3"></i>
                            <i class="fab fa-linkedin mr-3"></i>
                            <i class="fab fa-youtube mr-3"></i>
                            <i class="fab fa-google-plus mr-3"></i>
                        </h6>
                    </p>
                </div>
            </div>
            <!-- End Main Content -->
            <!-- Start Right Bar -->
                <div class="col-3 border-2 bcolor p-2 px-4 ">
                    <div class="w-100 text-center p-4">
                        <h5 class="border-2">Social Sharing</h5>
                        <div class="p-2">
                            <i class="fab fa-facebook mr-3"></i>Facebook
                        </div>
                        <div class="p-2">
                            <i class="fab fa-youtube mr-3"></i>Youtube
                        </div>
                        <div class="p-2">
                            <i class="fab fa-twitter mr-3"></i>Twitter
                        </div>
                        <div class="p-2">
                            <i class="fab fa-linkedin mr-3"></i>Linkedin
                        </div>
                        <div class="p-2">
                            <i class="fab fa-instagram mr-3"></i>Instagram
                        </div>
                        <div class="p-2">
                            <i class="fab fa-google-plus mr-3"></i>G Plus
                        </div>

                        <!-- Start Recent Blogs -->
                        <div class="mt-5">
                            <h5 class="border-2 p-2">Recent Blogs</h5>
                            <div class="d-flex flex-column p-2 mt-2">
                                <img src="image/Blog-image-1.jpeg" class="img-fluid" alt="">
                                <p>This is our title</p>
                            </div>
                            <div class="d-flex flex-column p-2 mt-2">
                                <img src="image/Blog-image-2.jpeg" class="img-fluid" alt="">
                                <p>This is our title</p>
                            </div>
                            <div class="d-flex flex-column p-2 mt-2">
                                <img src="image/Blog-image-3.jpeg" class="img-fluid" alt="">
                                <p>This is our title</p>
                            </div>
                            <div class="d-flex flex-column p-2 mt-2">
                                <img src="image/Blog-image-4.jpeg" class="img-fluid" alt="">
                                <p>This is our title</p>
                            </div>
                        </div>
                        <!-- End Recent Blogs -->

                        <!-- Start Ads section -->
                        <div class="mt-3">
                            <h5>Ads</h5>
                            <img src="image/amazon-long-vertical.gif" alt="">
                            <img src="image/Verticle_Ads.jpg" class="mt-5" alt="">
                        </div>
                        <!-- End Ads Section -->
                    </div>

                </div>
            <!-- End Right Bar -->
        </div>
    </div>

    <!-- Start Footer Section -->

    <div class="container p-5 black broder-2 border-bt">
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column">
                    <h5 class="text-white">Newsletter</h5>
                    <p class="text-white">Enter Your Email:</p>
                    <div class="form-control">
                        <input type="text" placeholder="Your Email">
                    </div>
                    <button class="btn btn-info mt-3">Subscribe</button>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column p-3 border-2 text-white">
                    <h5>Category</h5>
                    <ul>
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column  text-white">
                    <h5>Contact Us</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                        <input type="text" class="form-control mt-2" placeholder="Your Email">
                        <textarea class="form-control mt-2" rows="4" placeholder="Your Message"></textarea>
                        <button class="btn btn-success mt-2 btn-block">Send</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container p-6">
        <div class="lightblue pr-5" style="text-align:center;color:whitesmoke">
            <i class="fab fa-facebook mr-3"></i>
            <i class="fab fa-twitter mr-3"></i>
            <i class="fab fa-instagram mr-3"></i>
            <i class="fab fa-linkedin mr-3"></i>
            <i class="fab fa-youtube mr-3"></i>
            <i class="fab fa-google-plus mr-3"></i>
        </div>
    </div>

    <!-- End Footer Section -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>